@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
h1,
h2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-image: url("../img/header.png");
  display: flex;
  padding: 10px 20px 0 10px;
  width: 100vw;
}

.navigation {
  margin: 0;
  padding: 0;
}

.header_nav {
  display: flex;
  margin-top: 20px;
  overflow: hidden;
}

.btn_buy {
  background: transparent;
  float: left;
  background-color: transparent;
  justify-content: flex-end;
  border-radius: 22px;
  border: 2px solid #3e3ee6;
  margin-right: 30px;
  margin-left: auto;
  margin-top: auto;
  cursor: pointer;
  color: #3e3ee6;
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  border-radius: 50%;
  width: 150px;
  height: 50px;
  font-size: 20px;
  text-shadow: 4px 4px 4px #3e3ee6;
}

.btn_buy:hover {
  background-color: #3e3ee6;
  border: 2px solid #fff;
  color: #fff;
}

.header_item:hover.btn_buy {
  background-color: brown;
}

.header_item:hover {
  color: #fff;
}

.header_logo {
  width: 80px;
  height: 80px;
  margin: 30px 0 0 20px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 320px) {
  .header {
    background-image: url("../img/headerMob.png");
    background-size: 800px;
    height: 235px;
  }
  .header_nav::before {
    display: flex;
  }
  .navigation {
    display: none;
  }
  .btn_buy {
    width: 159px;
    height: 44px;
    margin-bottom: 140px;
  }
}
@media screen and (min-width: 768px) {
  .header_logo {
    display: none;
  }
  .header {
    background-image: url("../img/header.png");
    background-size: cover;
    height: 180px;
  }
  .header_item {
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 240px;
    color: #3e3ee6;
    font-family: "Fasthand";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
  }
  .btn_buy {
    width: 140px;
    height: 44px;
    margin-bottom: 220px;
  }
  .navigation {
    display: flex;
  }
  .header_nav::before {
    content: "";
    width: 75px;
    height: 75px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
    margin-left: 15px;
    margin-bottom: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .header_item {
    margin-right: 40px;
    font-size: 24px;
  }
  .btn_buy {
    width: 159px;
    height: 44px;
  }
  .header_nav::before {
    content: "";
    width: 100px;
    height: 100px;
  }
}
.hero {
  background: linear-gradient(#fff, antiquewhite);
  margin-bottom: 0;
}

.hero_container {
  margin: auto;
  position: relative;
  animation: rotateIn;
  animation-duration: 2s;
}

.animate__rotateIn {
  --animate-duration: 2s;
}

.hero_title {
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  color: #3e3ee6;
  animation: flash;
  animation-duration: 3s;
}

.hero_span {
  font-size: 28px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .hero_container {
    margin-top: 0;
  }
  .hero {
    height: 480px;
    display: flex;
    padding: 30px 30px 30 30px;
  }
  .hero_img_1 {
    display: none;
  }
  .hero_img_2 {
    display: none;
  }
  .hero_img_3 {
    display: none;
  }
  .hero_img_4 {
    display: none;
  }
  .hero_img_5 {
    display: none;
  }
  .hero_img_6 {
    display: none;
  }
  .hero_img_7 {
    display: block;
    position: absolute;
    top: 240px;
    left: -167px;
    background-color: rgba(0, 0, 0, 0);
  }
  .hero_button {
    position: absolute;
    top: -60px;
    left: 115px;
    width: 120px;
    display: block;
    cursor: pointer;
    color: #3e3ee6;
    font-family: "Fasthand";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 30px;
  }
  .hero_item {
    cursor: pointer;
    color: #3e3ee6;
    font-family: "Fasthand";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .hero_container {
    margin-top: auto;
  }
  .hero_button {
    display: none;
  }
  .hero {
    height: 550px;
  }
  .hero_title {
    margin-bottom: 50px;
  }
  .hero_img_1 {
    display: block;
    position: absolute;
    scale: 0.25;
    top: -360px;
    left: -444px;
  }
  .hero_img_2 {
    display: block;
    position: absolute;
    scale: 0.25;
    top: -260px;
    left: -652px;
  }
  .hero_img_3 {
    display: block;
    position: absolute;
    scale: 0.25;
    top: -265px;
    left: -244px;
  }
  .hero_img_4 {
    display: block;
    position: absolute;
    scale: 0.2;
    top: -81px;
    left: -242px;
  }
  .hero_img_6 {
    display: block;
    position: absolute;
    scale: 0.32;
    top: -35px;
    left: -434px;
  }
  .hero_img_5 {
    display: block;
    position: absolute;
    scale: 0.22;
    top: -80px;
    left: -646px;
  }
  .hero_img_7 {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 500px;
  }
  .hero_img_1 {
    scale: 0.3;
    top: -380px;
    left: -444px;
  }
  .hero_img_2 {
    scale: 0.3;
    top: -260px;
    left: -670px;
  }
  .hero_img_3 {
    scale: 0.33;
    top: -273px;
    left: -216px;
  }
  .hero_img_4 {
    scale: 0.25;
    top: -71px;
    left: -213px;
  }
  .hero_img_6 {
    scale: 0.37;
    left: -434px;
  }
  .hero_img_5 {
    scale: 0.27;
    top: -75px;
    left: -667px;
  }
}
.items-card {
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.img {
  width: 150px;
  margin: 0 auto;
}

.list-item {
  color: #5f5243;
  text-align: center;
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 400;
  text-shadow: 5px 5px 20px #444545, 5px 5px 20px rgb(233, 190, 121);
}

.link {
  list-style-type: none;
  color: #5f5243;
}

.link:hover {
  color: #f4f7f7;
}

.btn_lm {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  margin-left: 45px;
  border-radius: 12px;
  background-color: #efe0cf;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 20px #444545, 5px 5px 20px rgb(233, 190, 121);
}

.btn_lm:hover {
  color: #f4f7f7;
  box-shadow: 5px 5px 20px #f4f7f7, 5px 5px 20px rgb(233, 190, 121);
}

.btn_add {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #efe0cf;
  border: none;
  cursor: pointer;
  text-shadow: 5px 5px 20px #444545, 5px 5px 20px rgb(233, 190, 121);
}

.btn_add:hover {
  color: #f4f7f7;
  background-color: rgb(135, 112, 74);
}

@media screen and (min-width: 320px) {
  .models {
    width: 200px;
    padding: 30px 20px 20px 20px;
    box-shadow: 0px 5px 20px #444545, 0px 5px 20px rgb(233, 190, 121);
    background-color: rgb(233, 190, 121);
    border-radius: 10px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  .models {
    margin: 0;
  }
}
.about_us {
  background: linear-gradient(antiquewhite, #fff);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 80px;
  padding-bottom: 40px;
  box-sizing: border-box;
  position: relative;
}

.about {
  display: block;
}

.about_title {
  color: #5f5243;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  font-family: "Fasthand";
  margin-bottom: 40px;
}

.about_info {
  color: #5f5243;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  font-family: Titan One, cursive;
  margin-bottom: 40px;
}

.contacts {
  padding: 20px 20px 20px 20px;
}

.contacts_city {
  padding: 10px 10px 10px 10px;
  display: block;
  background-color: #a2ebea;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #00c2cb, 0px 5px 20px #fff;
  transition: all ease 0.5s;
}

.contacts_title {
  text-align: center;
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.contacts_city:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px #fff;
}

@media screen and (min-width: 320px) {
  .contacts {
    padding: 20px 20px 20px 20px;
  }
  .contacts_item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.contacts_city {
  width: 100wv;
  margin-bottom: 30px;
}

.about_info {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.contacts_title {
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}

.contacts_text {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-shadow: 4px 4px 4px rgba(36, 35, 35, 0.9);
}

.london {
  background-image: url("../img/big_ben.jpeg");
  background-size: cover;
}

.paris {
  background-image: url("../img/eifeleva_b.webp");
  background-size: cover;
}

.rome {
  background-image: url("../img/kolizei.jpeg");
  background-size: cover;
}

.kiev {
  background-image: url("../img/sofia.jpeg");
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .contacts_item {
    display: flex;
    gap: 20px;
    width: 768px;
  }
  .contacts_city {
    width: 230px;
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 768px;
    padding-left: 30px;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts_city {
    width: 230px;
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer_container {
  margin: auto;
  position: relative;
}

.footer {
  background: linear-gradient(#fff, #a2ebea);
}

.footer_tel:hover {
  color: #fff;
}

.footer_mail:hover {
  color: #fff;
}

.footer_nav {
  display: block;
  text-shadow: 3px 3px 3px rgba(85, 83, 83, 0.5);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Fasthand";
}

.footer_adress {
  cursor: pointer;
  color: #3e3ee6;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Fasthand";
  margin-bottom: auto;
  text-shadow: 3px 3px 3px rgba(85, 83, 83, 0.5);
}

.footer_st {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Fasthand";
}

.footer_copiright {
  color: #3e3ee6;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

.footer_link {
  width: 40px;
  height: 40px;
  fill: #3e3ee6;
  justify-content: center;
  align-items: center;
  transition-property: fill;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 50%;
  border: none;
  box-shadow: 5px 5px 5px rgba(85, 83, 83, 0.7);
}

.footer_link:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 320px) {
  .footer {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
  }
  .footer_container {
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_st {
    margin-right: 15px;
  }
  .footer_social-list {
    display: flex;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 20px 20px 10px 20px;
  }
  .footer_st {
    margin-right: 0;
  }
  .footer_container {
    display: flex;
    height: 130px;
    width: 768px;
  }
  .footer_social-list {
    margin-left: 190px;
    display: flex;
    margin-top: 50px;
    margin-bottom: auto;
    margin-right: auto;
  }
  .footer_nav {
    display: block;
    font-size: 26px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer_container {
    width: 1200px;
  }
  .footer_social-list {
    margin-left: 530px;
  }
  .footer_nav {
    font-size: 30px;
    margin: auto;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, 0) scale(0);
}

.modal {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0) scale(1);
  height: auto;
  padding: 30px 20px 30px 20px;
  background: linear-gradient(rgb(240, 207, 164), antiquewhite);
  color: #5f5243;
  margin-left: auto;
  margin-right: auto;
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.cart {
  height: 50px;
}

.cart-total {
  list-style-type: none;
}

.clear_cart {
  background: transparent;
  background-color: transparent;
  border-radius: 50%;
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 25px;
}

.clear_cart:hover {
  color: #ffffff;
  border: solid #ffffff;
}

.buttons {
  display: flex;
  width: 100px;
}

.btn_total {
  background: transparent;
  background-color: transparent;
  width: 25px;
  height: 25px;
  border: none;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.btn_total:hover {
  color: #ffffff;
}

.cart_buttons {
  margin-bottom: 20px;
}

.btn_remove {
  background: transparent;
  background-color: transparent;
  border-radius: 50%;
  width: 100px;
  height: 30px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.btn_remove:hover {
  color: #ffffff;
  border: solid #ffffff;
}

@media screen and (min-width: 320px) {
  .modal {
    width: 320px;
  }
  .btn_close {
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px 2px rgba(18, 17, 17, 0.6);
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  .btn_close:hover {
    color: #ffffff;
  }
  .modal_label {
    margin-bottom: 20px;
  }
  .input_wrap {
    margin-bottom: 10px;
  }
  .modal_label {
    text-shadow: 4px 4px 4px rgba(50, 45, 38, 0.6);
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }
  .buy_now {
    background: transparent;
    background-color: transparent;
    border-radius: 50%;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .buy_now:hover {
    color: #ffffff;
    border: solid #ffffff;
  }
  .cart_item {
    width: 200px;
    padding: 10px;
    background-color: #e1c7a3;
    box-shadow: 5px 5px 5px rgba(50, 45, 38, 0.6);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .cart_text {
    text-shadow: 4px 4px 4px rgba(50, 45, 38, 0.6);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 400px;
  }
  .modal_text {
    width: 250px;
  }
  .modal_comment {
    width: 350px;
  }
}
.products_title {
  opacity: 0;
}

.products {
  margin: 0;
  padding: 0;
}

.products_label {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  text-align: center;
  color: #5f5243;
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-shadow: 4px 4px 4px #6f6457;
  background: linear-gradient(antiquewhite, rgb(240, 207, 164));
}

.products_header {
  text-align: center;
  color: #5f5243;
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 1.2;
  text-shadow: 4px 4px 4px #6f6457;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.products_text {
  text-align: center;
}

.products_card {
  height: 450px;
  background: linear-gradient(antiquewhite, rgb(240, 207, 164));
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  color: #5f5243;
  text-align: center;
}

.desert {
  height: 450px;
  background-image: url("../img/icedesert2.jpeg");
  background-size: cover;
}

.lactose {
  background-image: url("../img/мороженка_зел.jpeg");
  background-size: cover;
}

.background {
  background: linear-gradient(#a2ebea, #d4ebee);
  color: #3e3ee6;
}

.background_2 {
  background: linear-gradient(#e9bc1a, #f2e766);
  color: #ea3737;
}

.background_3 {
  background: linear-gradient(#65e68a, #a7dba3);
  color: #ebe002;
}

.branded {
  background-image: url("../img/brnded 2.jpeg");
  background-size: cover;
}

.gradient {
  background: linear-gradient(rgb(240, 207, 164), antiquewhite);
}

.product_card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px #fff;
}

@media screen and (min-width: 320px) {
  .products_card {
    border-radius: 30px 30px 0 0;
  }
  .products {
    width: 100wv;
    background: linear-gradient(rgb(240, 207, 164), antiquewhite);
  }
  .product_button {
    background-image: none;
    background: transparent;
    background-color: transparent;
    border-radius: 50%;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: auto;
  }
  .specialbtn {
    background: transparent;
    background-color: transparent;
    border-radius: 50%;
    width: 150px;
    height: 50px;
    border: 2px solid #3e3ee6;
    color: #3e3ee6;
  }
  .vegan_btn {
    background: transparent;
    background-color: transparent;
    border-radius: 50%;
    width: 150px;
    height: 50px;
    border: 2px solid #ea3737;
    color: #ea3737;
  }
  .lactose_btn {
    background: transparent;
    background-color: transparent;
    border-radius: 50%;
    width: 150px;
    height: 50px;
    border: 2px solid #ebe002;
    color: #ebe002;
  }
  .product_item {
    display: block;
    padding: 10px 10px 50px 10px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .product_card {
    width: 120px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px #444545, 0px 5px 20px rgb(233, 190, 121);
    transition: all ease 0.5s;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .product_button {
    background-image: none;
    background: transparent;
    background-color: transparent;
    border-radius: 50%;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: auto;
  }
}
@media screen and (min-width: 800px) {
  .product_item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 50px 10px;
  }
  .product_card {
    width: 200px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px #444545, 0px 5px 20px rgb(233, 190, 121);
    transition: all ease 0.5s;
  }
  .product_button {
    background-image: none;
    background: transparent;
    background-color: transparent;
    border-radius: 50%;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .product_item {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 50px 20px;
  }
  .product_card {
    width: 250px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px #444545, 0px 5px 20px rgb(233, 190, 121);
    transition: all ease 0.5s;
  }
  .product_button {
    background-image: none;
    background: transparent;
    background-color: transparent;
    border-radius: 50%;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: auto;
  }
}/*# sourceMappingURL=main.css.map */