<header class="header" id="home">
  <div class="header_logo"></div>
  <navigation class="navigation">
    <ul class="header_nav">
      <li><a href="#home" class="header_item">Home</a></li>
      <li><a href="#about" class="header_item">About us</a></li>
      <li><a href="#products" class="header_item">Our products</a></li>
      <li><a href="#contacts" class="header_item">Contacts</a></li>
    </ul>
  </navigation>

  <button type="button" data-modal-open class="btn_buy">
    Cart
    <span class="header_cart-number"></span>
  </button>
</header>
