.about_us {
  background: linear-gradient(antiquewhite, #fff);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 80px;
  padding-bottom: 40px;
  box-sizing: border-box;
  position: relative;
}
.about {
  display: block;
}

.about_title {
  color: #5f5243;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  font-family: "Fasthand";
  margin-bottom: 40px;
  text-shadow: 5px 5px 20px #444545, 5px 5px 20px rgb(233, 190, 121);
}
.about_info {
  color: #5f5243;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  font-family: Titan One, cursive;
  margin-bottom: 40px;
  text-shadow: 2px 2px 12px #444545, 1px 1px 12px rgb(233, 190, 121, 0.7);
}
